@media screen and (max-width:1000px) {
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        padding: 12px 0px;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 15px 0;
    }
    .search button{
        margin: 0 10px;
    }
    .box img{
        width: 100vw;
    }
    .card h2{
        display: flex;
        justify-content: center;
    }
    .card-item{
       justify-content: center;
       margin-left: 110px;
       margin-bottom: 20px;
    }
}

