@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
*{
    padding: 0;
    margin: 0;
}
footer div{
    background-color: var(--main-bg-color);
    height: 10vh;
    color: white;
    font-family: 'Lora', serif;
}
header{
    background: var(--main-bg-color);
    font-family: 'Lora', serif;
}
nav{
    display: flex;
}
nav ul{
    height: 58px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    padding: 0 23px;
    color: white;
}
nav ul li a:hover{
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    padding: 0 25px;
} 
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 40vw;
    height: 35px;
    margin: 0 18px 0 50px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lora', serif;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.box img{
    margin-top: 10px;
}
.card{
    max-width: 95vw;
    margin: auto;
}
.card h2{
    font-weight: 600;
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
}
.card-item{
    display: inline-flex;
    flex-direction: column;
    width: 160px;
    margin: 0 60px;
}

